<div class="clothing-card">
  <div class="group-3">
    <h2 class="name"><%= item.brand %> <%= item.category %> - <%= item.colour %></h2>
    <div class="frame-4">
      <%= link_to 'View', item_path(item), class: 'button' %>
    </div>
  </div>
  <div class="rectangle-10"></div>
  <div class="group-2">
    <h3 class="subheader"><%= item.occasion %></h3>
    <p class="size">Size: <%= item.size %></p>
  </div>
  <p class="description"><%= item.description %></p>
</div>
