

  <% if user_signed_in? %>
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon ">
      <div class="container-fluid d-flex justify-content-around w-100">
        <%= link_to root_path, class: "navbar-brand" do %>
        <span style="font-family: Inter, sans-serif; font-size: 35px; font-weight: 400;">Bclothes</span>
        <% end %>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto">
              <%if user_signed_in? %>
<li class="nav-item">
  <%= link_to "Ask the Community!", new_request_path, class: "btn create-request-btn mt-2", style: "border: none; margin-right: 20px;" %>
  <%= link_to "Upgrade your Wardrobe", new_item_path, class: "btn upgrade-btn mt-2", style: "border: none; margin-right: 40px;" %>
</li>
              <li class="nav-item dropdown">
                <%= image_tag current_user.photo.key ? current_user.photo.url : "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <%= link_to "Browse all wardrobes", items_path, class: "dropdown-item" %>
                  <%= link_to "My wardrobe", "#", class: "dropdown-item" %>
                  <%= link_to "All Requests", all_requests_path, class: "dropdown-item" %>
                  <%= link_to "My Requests", my_requests_requests_path, class: "dropdown-item" %>
                  <%= link_to "Settings", "/users/edit", class: "dropdown-item" %>
                  <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
                </div>
              </li>

            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>


<style>

.navbar {
  width: 100%;
  height: 50%;
  background-color: #FFC65A;
  margin: 0;
  padding: 0;
}
.container-fluid {
  background-color: #FFC65A;
  height: 100px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .dropdown-menu {
  background-color: #F1C232;
  border: none;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 0;
}

.navbar-lewagon .dropdown-menu a {
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #F38181;
  padding: 0.5rem 1rem;
  font-weight: bold;
}

.navbar-lewagon .dropdown-menu a:hover,
.navbar-lewagon .dropdown-menu a:focus {
  color: #0D6EFD;
  background-color: #F1C232;
}

.navbar-lewagon .avatar:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}


.navbar-lewagon .dropdown-menu .dropdown-item:last-child {
  border-top: 1px solid #e9ecef;
}

.navbar-lewagon .dropdown-menu .dropdown-item {
  border: none;
}

.navbar-lewagon .avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;

}

.dropdown-menu-end {
  right: 0;
  left: auto;
}

.btn {
  color: #F38181;
  font-weight: bold;

}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
  color: #0D6EFD;
  text-decoration: none;
}



</style>
