<% if user_signed_in? %>
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid d-flex justify-content-around w-100">
<%= link_to root_path, class: "navbar-brand" do %>
  <span style="font-family: Inter, sans-serif; font-size: 35px; font-weight: 400;">Bclothes</span>
<% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <%# if user_signed_in? %>
          <li class="nav-item dropdown">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "See my wardrobe", "#", class: "dropdown-item" %>
              <%= link_to "Requests", "#", class: "dropdown-item" %>
              <%= link_to "Log out", "#", class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
        <%# else %>
          <!--li class="nav-item"-->
            <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
          <!--/li-->
        <%# end %>
      </ul>
    </div>
  </div>
</div>
<% end %>

<style>

.navbar {
  width: 100%;
  height: 20%;
  background-color: grey;
  margin: 0;
  padding: 0;
}
.container-fluid {
  background-color : grey;
  height: 100px;
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .dropdown-menu {
  background-color: white;
  border: none;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 0;
}

.navbar-lewagon .dropdown-menu a {
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: black;
  padding: 0.5rem 1rem;
}

.navbar-lewagon .dropdown-menu a:hover,
.navbar-lewagon .dropdown-menu a:focus {
  color: white;
  background-color: grey;
}

.navbar-lewagon .dropdown-menu .dropdown-item:last-child {
  border-top: 1px solid #e9ecef;
}

.navbar-lewagon .dropdown-menu .dropdown-item {
  border: none;
}

.navbar-lewagon .avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;

}


.dropdown-menu-end {
  right: 0;
  left: auto;
}

.navbar-brand {

}





</style>
