

  <% if %>
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon bg-gradient ">
        <div class="container-fluid d-flex flex-row justify-content-around w-100 sticky-top">
          <div class="uk-navbar-left d-flex align-items-center">
            <div>
              <%= link_to items_path, class: "navbar-brand" do %>
              <span style="font-family: Satisfy, sans-serif; font-size: 60px; font-weight: 400; color: black;">Bclothes</span>
              <% end %>
            </div>
            <div class="pl-4">
              <%= link_to "New request", new_request_path, class: "nav-btn nav-item mt-2", style: "border: none; margin-right: 20px;" %>

            </div>
            <div>
              <%= link_to "Update your Wardrobe", new_item_path, class: "nav-btn nav-item mt-2", style: "border: none; margin-right: 40px;" %>
            </div>
          </div>
          <div class="uk-navbar-right d-flex align-items-center">
            <div class="search--container mt-4 mb-4 pr-5">
              <%= render :partial => 'items/search', :locals => {item: @item} %>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto">
                <%if user_signed_in? %>
                  <li class="nav-item dropdown">
                    <%= image_tag current_user.photo.key ? current_user.photo.url : "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                      <%= link_to "Browse all wardrobes", items_path, class: "dropdown-item" %>
                      <%= link_to "My wardrobe", my_items_items_path, class: "dropdown-item" %>
                      <%= link_to "All Requests", all_requests_path, class: "dropdown-item" %>
                      <%= link_to "My Requests", my_requests_requests_path, class: "dropdown-item" %>
                      <%= link_to "Settings", "/users/edit", class: "dropdown-item" %>
                      <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
                    </div>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
    </div>
  <% end %>



<style>

.navbar {
  width: 100%;
  height: 50%;
  background-color: #FFC65A var(--bs-gradient);
  margin: 0;
  padding: 0;
}
.container-fluid {
  background-color: #FFC65A;
  height: 150px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .dropdown-menu {
  background-color: #f2eddc;
  border: none;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 0;
}

.navbar-lewagon .dropdown-menu a {
  font-family: Inter, sans-serif;
  font-size: 14px;
  color: black;
  padding: 0.5rem 1rem;
  font-weight: bold;

}

.navbar-lewagon .dropdown-menu a:hover,
.navbar-lewagon .dropdown-menu a:focus {
  transform: translateY(-3px);
  text-decoration: none;
}

.navbar-lewagon .avatar:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}


.navbar-lewagon .dropdown-menu .dropdown-item:last-child {
  border-top: 1px solid #e9ecef;
}

.navbar-lewagon .dropdown-menu .dropdown-item {
  border: none;
  font-weight: ;
}

.navbar-lewagon .avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;

}

.dropdown-menu-end {
  right: 0;
  left: auto;
}

.nav-btn {
  color: black !important;
  font-weight: bold;
}

.nav-btn:hover {
  transform: translateX(-3px) !important;
  text-decoration: none !important;
  /* box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.2); */
  color: white !important;
}



</style>
