<%= simple_form_for [@item, request] , data: { controller: 'flatpickr' }, html: { class: 'form' } do |f| %>
  <div class="form-group">
    <%= f.input :title, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.input :description, input_html: { class: 'form-control' } %>
  </div>
  <%# <%= f.collection_select :item_id, Item.all, :id, :description, prompt: true, input_html: { class: 'form-control' } %>
  <div class="form-group">
    <%= f.input :start_date, as: :string, input_html: { class: 'form-control', data: { flatpickr_target: "startTime" } }  %>
  </div>
  <div class="form-group">
    <%= f.input :end_date, as: :string, input_html: { class: 'form-control', data: { flatpickr_target: "endTime" } }   %>
  </div>
  <%= f.submit submit_text, class: 'btn btn-primary btn-block' %>
<% end %>

<style>
.item-btn {
  display: inline-block;
  color: black;
  background: #e9e2e2;
  border-radius: 5px;
  padding: 10px 5px;

  text-align: center;
  width: 250px;
}

.item-btn:hover {
  background-color: #FFC65A;
  color: #fff;
  text-decoration: none;
}

.btn.btn-primary.btn-block {
  display: inline-block;
  color: black;
  background: #e9e2e2;
  border-radius: 5px;
  padding: 10px 5px;

  text-align: center;
  width: 250px;
  border: none;
}

.btn.btn-primary.btn-block:hover {
  background-color: #FFC65A;
  color: #fff;
  text-decoration: none;
}
</style>
