


<% if @requests_received.sum == [] %>
  <div>
  You haven't receieved any Bclothes requests
  </div>
<% else %>
  <div>
  You have received <%=@requests_received.length%> Bclothes requests
  </div>
  <ul>
    <% @requests_received.each do |request| %>
      <li>
      <div>
        <%= User.find(request.first.user_id)[:first_name]%> requested
        <%= cl_image_tag Item.find(request.first.item_id).photos.first.key, height: 300, width: 400, crop: :fill %>
      </div>
      <div>
      <%= request.first.title%>
      <%= request.first.start_date%>-<%= request.first.end_date%>
      <%= request.first.description%>
      <%= request.first.status %>
      </div>
      <div>
      <%= link_to "View", item_path(Item.find(request.first.item_id)), class: "btn"  %>
      <%= link_to "Edit Request", edit_request_path(request), class: "btn" %>
      <div>
      </li>
      <% end %>
  </ul>
<% end %>
