
<% if @requests_sent_pending == nil %>
  <div>
  You have no pending Bclothes requests
  </div>
<% else %>
  <div>
  You have <%=@requests_sent_pending.length%> pending Bclothes requests
  </div>
  <ul>
    <% @requests_sent_pending.each do |request| %>
      <li>
      <div>
        Request to <%= User.find(Item.find(request.item_id).user_id)[:first_name]%>
        <%= cl_image_tag Item.find(request.item_id).photos.first.key, height: 300, width: 400, crop: :fill %>
      </div>
      <div>
      <%= request.title%>
      <%= request.start_date%>-<%= request.end_date%>
      <%= request.description%>
      <%= request.status %>
      </div>
      <div>
      <%= link_to "View Item", item_path(Item.find(request.item_id)), class: "btn"  %>
      <%= link_to "View Request", request_path(request), class: "btn" %>
      <%= link_to "Edit Request", edit_request_path(request), class: "btn" %>
      <%= link_to "Cancel Request", request_path(request), data: {turbo_method: :delete}, class: "btn"  %>
      <div>
      </li>
      <% end %>
  </ul>
<% end %>
