<div class="h5 my-4 yellow-text fw-bold">
  <% if @requests_sent_closed == nil %>
    You have no closed Bclothes requests
  <% else %>
    You have <%=@requests_sent_closed.length%> closed Bclothes requests
</div>
  <div class="rounded-3">
    <% @requests_sent_closed.each do |request| %>
      <div class="d-flex align-items-center my-4 pl-3 h5">
        <h4 class="pr-2">Request to <%= User.find(Item.find(request.item_id).user_id)[:first_name]%></h4>
        <%= image_tag User.find(request.user_id).photo.key ? User.find(request.user_id).photo.url : "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      </div>
      <div class="d-flex shadow rounded">
        <div class="shadow m-3">
          <%= cl_image_tag Item.find(request.item_id).photos.first.key, height: 300, width: 300, crop: :pad, background: "auto" %>
        </div>
        <div class="ms-4 my-3">
          <h5><%= request.title%></h5>
          <p><em><%= request.start_date.strftime("%b %d, %Y")%>-<%= request.end_date.strftime("%b %d, %Y")%></p></em>
          <p><%= request.description%><p>
          <div>
          <div class="container-button">
            <div>
              <%= link_to "View Item", item_path(Item.find(request.item_id)), class: "btn-request"  %>
            </div>
            <div>
              <%= link_to "View Request", request_path(request), class: "btn-request" %>
            </div>
            <div>
              <%= link_to "Edit Request", edit_request_path(request), class: "btn-request" %>
            </div>
            <div>
              <%= link_to "Cancel Request", request_path(request), data: {turbo_method: :delete}, class: "btn-request"  %>
            </div>
          </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>


<style>

.container-button{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 30px;
}

.btn-request {
  display: inline-block;
  color: black;
  background: #e9e2e2;
  border-radius: 5px;
  padding: 10px 5px;
  text-align: center;
  width: 150px;
}

.btn-request:hover {
  background-color: #FFC65A;
  color: #fff;
  text-decoration: none;
}

.yellow-text {
color: #FFC65A;
}

</style>
