<div class="h5 my-4">
  <% if @requests_sent_open == nil %>
    You have no open Bclothes requests
  <% else %>
    You have <%=@requests_sent_open.length%> open Bclothes requests
</div>

  <div class="rounded-3 ">
    <% @requests_sent_open.each do |request| %>
      <div class="d-flex rounded-3 shadow my-4 pl-3">
        <div class="flex-grow-1">
          <h5><%= request.title%></h5>
          <p><em><%= request.start_date.strftime("%b %d, %Y")%>-<%= request.end_date.strftime("%b %d, %Y")%></p></em>
          <p><%= request.description%><p>
          <p><%= request.suggestions.length%> suggestions</p>
        </div>
        <%# line below can be reinstated when new specific requests are workign  %>
        <%# <%= link_to "View", item_path(Item.find(request.item_id)), class: "btn"  %>
        <div class=" pr-3">
        <div class="container-button">
          <div >
            <%= link_to "View Request", request_path(request), class: "btn-request" %>
          </div>
          <div>
            <%= link_to "Edit Request", edit_request_path(request), class: "btn-request" %>
          </div>
          <div>
            <%= link_to "Cancel Request", request_path(request), data: {turbo_method: :delete}, class: "btn-request"  %>
          </div>
        </div>
        </div>
      </div>
      <% end %>
  </div>
<% end %>

<style>

.container-button{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 30px;
  margin-right: 30px;
}

.btn-request {
  display: inline-block;
  color: black;
  background: #e9e2e2;
  border-radius: 5px;
  padding: 10px 5px;
  text-align: center;
  width: 150px;
}

.btn-request:hover {
  background-color: #FFC65A;
  color: #fff;
  text-decoration: none;
}

</style>
