<h1>Requests#index</h1>
<p>Find me in app/views/requests/index.html.erb</p>

<ul>
  <% @requests.each do |request| %>
    <li>
    <% if User.find(request.user_id) == current_user %>
      Your request
    <% else %>
      <%= User.find(request.user_id)[:first_name]%>'s request
    <% end %>
    <h3> <%= request.title%> <br> </h3>
    <%= request.start_date%>-<%= request.end_date%> <br>
    <%= request.description%> <br>
    request id = <%= request.id%>
    </li>
  <% end %>
</ul>
