<%# Add search? %>
<div class="request-list">
  <% @requests.each do |request| %>
    <div class="request-item">
      <% if current_user == User.find(request.user_id) %>
        <div class="bg-warning bg-gradient request-owner">
          You requested
        </div>
      <% else %>
        <div class="request-user">
          <%= image_tag current_user.photo.key ? current_user.photo.url : "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <%= User.find(request.user_id)[:first_name].upcase %> REQUESTED | <div class="request-title">
            <span><%= request.title %></span>
          </div>
        </div>
      <% end %>
      <div class="request-details">
          <p style="font-size: 1.2rem; margin-bottom: 1rem;"><%= request.start_date %> - <%= request.end_date %></p>
        <p> <%= request.description %></p>
        <p><strong>Status:</strong> <%= request.status %></p>
        <%= link_to "View", request_path(request), class: "btn btn-black btn-view" %>
      </div>
    </div>
  <% end %>
</div>
<style>

  .request-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
    max-width: 1200px;
  }

  .request-item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: #f7f7f7;
    padding: 1rem;
    border-radius: 0.25rem;
  }

  .request-owner {
    color: #fff;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 0.25rem;
  }
  

  .request-user {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2rem;
  }

  .request-details h3 {
    margin-top: 0;
  }

#navbarDropdown{
  margin-right: 12px;
}
  .btn {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 0.5rem;
    text-decoration: none;
    cursor: pointer;
    width: 200px;
    display: inline-block;
  }

  .btn:hover {
    background-color: #333;
  }

  .btn-view {
    margin-top: 1rem;
  }

  .request-user {
  display: flex;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.user-details {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.user-name {
  margin-right: 1rem;
}

.request-text {
  margin-right: 0.5rem;
}

.request-title {
  font-weight: normal;
  font-size : 20px;
  margin-left : 8px;
}

</style>