<div class="container special-name">
  <%# Add search? %>
  <div class="request-list">
    <% @requests.each do |request| %>
      <div class="request-item shadow p-3 rounded d-flex justify-content-between align-items-center <%= 'you-requested' if current_user == User.find(request.user_id) %>">
        <div>
          <% if current_user == User.find(request.user_id) %>
            <div class="request-owner text-black ml-5">
              You requested
            </div>
          <% else %>
            <div class="request-user d-flex align-items-center">
              <%= image_tag current_user.photo.key ? current_user.photo.url : "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle me-3", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <%= User.find(request.user_id)[:first_name] %> requested : <div class="request-title ms-2">
                <span><%= request.title %></span>
              </div>
            </div>
          <% end %>
          <div class="request-details">
            <p class="fs-6 mb-3 date-italic ml-5"><%= request.start_date.strftime('%B %d, %Y') %> to <%= request.end_date.strftime('%B %d, %Y') %></p>
            <p class="fs-6 ml-5"> <%= request.description %></p>
            <p class="fs-6 ml-5 font-weight-bold"><strong>Status :</strong> <%= request.status %></p>
          </div>
        </div>
        <%= link_to "View", request_path(request), class: "item-btn mr-4" %>
      </div>
    <% end %>
  </div>
</div>

<style>

.container {
  margin-top: 40px;
  margin-bottom: 60px;
  font-weight: 400;
}

.request-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
  max-width: 1200px;
}

.request-item {
  font-family: 'Inter', sans-serif;
  background-color: #ffffff; /* Default background color */
}

.you-requested {
  background-color: #FFF2CC; /* Background color for "You requested" */
}

.date-italic {
  font-style: italic;
}

.request-user {
  font-family: 'Inter', sans-serif;
  font-size: 1.2em;
  color: black;
  display: flex;
  align-items: center;
}

.request-title {
  font-weight: 400;
  font-size: 1.2em;
  color: black;
}

.request-owner {
  font-weight: 400;
  font-size: 1.2em;
  color: black;
  padding-left: 5px;
  border-left: 1px solid black;
}

.request-details {
  width: 800px;
}

.item-btn {
  display: inline-block;
  color: black;
  background: #e9e2e2;
  border-radius: 5px;
  padding: 10px 5px;
  text-align: center;
  width: 150px;
}

.item-btn:hover {
  background-color: #c39d56;
  color: #fff;
  text-decoration: none;
}

</style>
