

<%# #Request info %>

<%= @request.user_id%> <br>
<h3> <%= @request.title%> <br> </h3>
<%= @request.start_date%>-<%= @request.end_date%> <br>
<%= @request.description%> <br>

<% if  @request.status == "Closed"  %>
  <%= User.find(@request.user_id)[:first_name] %> solved her outfit dilemma

  <% elsif @request.user_id == current_user.id %>
  <%= link_to "Edit", edit_request_path(@request), class: "btn" %>
  <%# link to destroy item %>
  <% else %>
  <%# link to suggest item %>
<% end %>

<%# Closed request choice display %>

<% if @request.status == "Closed" %>
<% choice = Item.find(@request.item_id) %>
    <h2> <%= User.find(@request.user_id)[:first_name]%> went with <%=User.find(choice.user_id)[:first_name]%>'s choice </h2>
    <div class="item-card">
    <%=User.find(choice.user_id)[:first_name]%>'s choice
    <%= choice.size %>
    <%= cl_image_tag choice.photos.first.key, height: 300, width: 400, crop: :fill %>
    <%= choice.category %>
    <%= choice.size %>
    <%= link_to "View", item_path(choice), class: "btn" %>
<% end %>

<% console %>

<% if @request.suggestions.length > 0 %>
  <h2>Suggestions</h2>

  <ol>
    <% @request.items.each do |item| %>
      <li>
      <%= User.find(item.user_id)[:first_name]%>'s choice
      <%= item.size%>
      <%= cl_image_tag item.photos.first.key, height: 300, width: 400, crop: :fill %>
      <%= item.category %>
      <%= item.size %>
      <%= link_to "View", item_path(item), class: "btn" %>
      </li>
    <% end %>
  </ol>

<% end %>




<%# TO DO

Add card
Add link %>
