<%# #Request info for everyone %>
<div class="main-container">
  <div class="request-info-container">
    <p class="request-owner">
      <% if User.find(@request.user_id) == current_user %>
       Your request
      <% else %>
        <%= User.find(@request.user_id)[:first_name]%>'s request
      <% end %>
    </p>
    <h3 class="request-title"> <%= @request.title%> </h3>
    <p class="request-dates"><%= @request.start_date%>-<%= @request.end_date%></p>
    <p class="request-description"><%= @request.description%></p>

<%# "Closed" request display %><%# "Item requested"  display %>

<%# visitor%>
<% if @request.user_id != current_user.id && @request.status == "Open" %>
  <%= link_to "Make a suggestion", new_request_suggestion_path(@request), class: "btn btn-dark black-button" %> 
<%# everyone%>
    <%# Chatroom placeholder %>
  <h2 class="chatbox-title">What do you think</h2>
  <div class="chatroom-placeholder">
    <p>Chatroom will be here</p>
  </div>
</div>

<%# visitor or everyone?%>
<% elsif @request.status == "Closed" %>
<%= User.find(@request.user_id)[:first_name] %> solved her outfit dilemma
  <% choice = Item.find(@request.item_id) %>
  <%= User.find(@request.user_id)[:first_name]%> went with <%=User.find(choice.user_id)[:first_name]%>'s choice
  <div>
    <%= User.find(choice.user_id)[:first_name]%>'s choice
    <%= cl_image_tag choice.photos.first.key, height: 300, width: 400, crop: :fill %>
    <%= choice.category %>
    <%= choice.size %>
    <%= link_to "View", item_path(choice), class: "btn" %>
  </div>

<%# suggestion owner%>
<%# does not work because of choice variable%>
<% elsif @request.status == "Item Requested" && @request.user_id == current_user.id %>
  <% choice = Item.find(@request.item_id) %>
  <div>
    You have sent a Bclothes request to <%=User.find(choice.user_id)[:first_name]%> for:
    <%= cl_image_tag choice.photos.first.key, height: 300, width: 400, crop: :fill %>
    <%= choice.category %>
    <%=choice.size%>
  </div>
  <%= link_to "View", item_path(choice), class: "btn" %>
  <%= link_to "Edit Request", edit_request_path(@request), class: "btn" %>
  <%= link_to "Cancel Request", request_path(@request), data: {turbo_method: :delete}, class: "btn"  %>

<%# request owner%>
<% elsif @request.status == "Item Requested" && User.find(Item.find(@request.item_id).user_id).id == current_user.id %>
  <div>
    <%= User.find(@request.user_id)[:first_name]%> has sent you a BClothes request for:
    <%= cl_image_tag Item.find(@request.item_id).photos.first.key, height: 300, width: 400, crop: :fill %>
    <%= Item.find(@request.item_id).category %>
    <%= Item.find(@request.item_id).size%>
  </div>
  <%= link_to "View", item_path(Item.find(@request.item_id)), class: "btn" %>
  <%= link_to "Edit Request", edit_request_path(@request), class: "btn" %>

<%# visitor%>
<% else %>
  <div>
    <%= User.find(@request.user_id)[:first_name]%> sent a BClothes request for:
    <%= cl_image_tag Item.find(@request.item_id).photos.first.key, height: 300, width: 400, crop: :fill %>
    <%= Item.find(@request.item_id).category %>
    <%= Item.find(@request.item_id).size%>
  </div>
  <%= link_to "View", item_path(Item.find(@request.item_id)), class: "btn" %>
  <%= link_to "Make another suggestion", new_request_suggestion_path(@request), class: "btn" %>
<% end %>

  <%# owner of requested item link to accept request %>
<%# <% elsif @request.item_id != "" && User.find(choice.user_id) == current_user %>
  <%# <%= link_to "Edit", edit_request_path(@request), class: "btn" %>
  <%# <%= link_to "Make a suggestion", new_request_suggestion_path(@request), class: "btn" %>

<%# "Open" display %>

<%# Everyone %>
  <%# Suggestions display %>
<div class="suggestions-container">
  <h2>Suggestions</h2>

  <% if @request.suggestions.empty? %>
    <p>No suggestions yet. Be the first one to suggest an outfit!</p>
  <% else %>
    <ol>
      <% @request.items.each do |item| %>
        <li>
          <%= User.find(item.user_id)[:first_name]%>'s choice
          <%= cl_image_tag item.photos.first.key, height: 300, width: 400, crop: :fill %>
          <%= item.category %>
          <%= item.size %>
          <%= link_to "View", item_path(item), class: "btn" %>
        </li>
      <% end %>
    </ol>
  <% end %>
</div>

</div>
<%# TO DO

Add card
Add link
Add forms here to ass javascript to?
%>

