<%# #Request info for everyone %>
<div class="container">
  <%= image_tag @request_owner.photo.key ? @request_owner.photo.url : "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
  <p class="h4">
    <% if @request_owner_name == "You" %>
      Your request
    <% else %>
      <%= @request_owner_name%>'s request
    <% end %>
  </p>
  <h5><%= @request.title%></h5>
  <p><em><%= @request.start_date.strftime("%b %d, %Y")%>-<%= @request.end_date.strftime("%b %d, %Y")%></p></em>
  <p class="request-description"><%= @request.description%></p>

  <%# "Closed" request display %><%# "Item requested"  display %>
  <%# visitor%>
  <div class="d-flex">
    <div>
      <% if @request.status == "Closed" || @request.status == "Item Requested" %>
        <% if @request.status == "Closed" %>
          <%= @request_owner_name %> solved
          <% if @request_owner_name == "You" %>
            your
          <% else %>
            her
          <% end %>
          outfit dilemma
          <%= @request_owner_name %> went with <%=@item_owner_name%>'s choice
        <% else %>
          A Bclothes request has been sent to <%=@item_owner_name%> for:
        <% end %>
        <div>
          <%= @item_owner_name%>'s
          <%= cl_image_tag(@choice.photos.first.key, height: 400, width: 300, crop: :pad, background: "auto" )%>
          <%= @choice.category %>
          <%= @choice.size %>
        </div>
      <% end %>
    </div>
    <div>
      <% if (@request.status == "Item Requested" || @request.status == "Open") && (@request_owner_name == "You" || @item_owner == current_user) %>
        <%= link_to "Edit Request", edit_request_path(@request), class: "btn" %>
      <% elsif (@request.status == "Item Requested" || @request.status == "Open") && @request_owner_name == "You" %>
        <%= link_to "Cancel Request", request_path(@request), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn"  %>
      <% elsif (@request.status == "Item Requested" || @request.status == "Open") && @request_owner != current_user %>
        <%= link_to "Make a suggestion", new_request_suggestion_path(@request), class: "btn " %>
      <% elsif (@request.status == "Item Requested" || @request.status == "Open") %>
        <%= link_to "View", item_path(@choice), class: "btn" %>
      <% end %>
    </div>
  </div>

  <div class="d-flex">
    <div>
      <h2 class="chatbox-title">What do you think?</h2>
      <%= render :partial => 'shared/chatroom_requests',
                    :locals => {request: @request, message: @message, chatroom: @chatroom, user: @user} %>
    </div>
    <%# visitor or everyone?%>
    <div>
      <h2>Suggestions</h2>
      <% if @request.user_id != current_user.id && @request.suggestions.empty? %>
        <p>Be the first one to suggest an outfit! </p>
      <% elsif  @request.suggestions.empty? %>
        <p>No suggestions yet</p>
      <% else %>
        <ol>
          <% @request.items.each do |item| %>
            <li>
              <%= User.find(item.user_id)[:first_name]%>'s choice
              <%= cl_image_tag item.photos.first.key, height: 300, width: 400, crop: :fill %>
              <%= item.category %>
              <%= item.size %>
              <%= link_to "View", item_path(item), class: "btn" %>
              <%= link_to "Accept", assign_item_path(id: @request, item_id: item.id), class: "btn" %>
            </li>
          <% end %>
        </ol>
      <% end %>
    </div>
  </div>
</div>

<% console %>

<style>
.btn {
  display: inline-block;
  color: black;
  background: #e9e2e2;
  border-radius: 5px;
  padding: 10px 5px;

  text-align: center;
  width: 250px;
}

.btn:hover {
  background-color: #c39d56;
  color: #fff;
  text-decoration: none;
}
</style>
