<div class="container m-3">
  <div class="header">
    <p class="request-owner">
      <% if User.find(@request.user_id) == current_user %>
        Your request:
      <% else %>
        <%= User.find(@request.user_id)[:first_name]%>'s request
      <% end %>
    </p>
    <h3 class="request-chatbox-title"> <%= @request.title%> </h3>
    <p class="request-description"><%= " #{@request.description} "%></p>
    <p><em><%= @request.start_date.strftime("%b %d, %Y")%>-<%= @request.end_date.strftime("%b %d, %Y")%></p></em>
  </div>

  <%# #Request info for everyone %>
  <div class="main-container">
    <div class="request-info-container">

  <%# "Closed" request display %><%# "Item requested"  display %>


    <%# visitor%>
    <% if @request.user_id != current_user.id && @request.status == "Open" %>
      <%= link_to "Make a suggestion", new_request_suggestion_path(@request), class: "btn btn-dark black-button" %>

    <% elsif @request.user_id == current_user.id && @request.status == "Open" %>
      <h3 class="request-chatbox-title">
        Not interested?
      </h3>
      <%= link_to "Cancel Request", request_path(@request), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "item-btn"  %>
    <%# everyone%>


  </div>

  <%# visitor or everyone?%>

  <% elsif @request.status == "Closed" %>
      <%= User.find(@request.user_id)[:first_name] %> solved her outfit dilemma by going with
        <% choice = Item.find(@request.item_id) %>
        <%=User.find(choice.user_id)[:first_name]%>'s choice!
        <div class="suggestions-card">
          <div class="responsive">
            <%= cl_image_tag choice.photos.first.key, crop: :fill %>
            <%= link_to "View", item_path(choice), class: "item-btn view-accept-btn view-only-format" %>
          </div>
        </div>
    </div>

  <%# suggestion owner%>
  <%# does not work because of choice variable%>
  <% elsif @request.status == "Item Requested" && @request.user_id == current_user.id %>
    <% choice = Item.find(@request.item_id) %>
    <p>
      I've changed my mind
    </p>
    <%= link_to "Cancel Request", request_path(@request), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "item-btn"  %>
        You have sent a Bclothes request to <%=User.find(choice.user_id)[:first_name]%> for:
      <div class="suggestions-card">
        <div>
          <%= cl_image_tag choice.photos.first.key, height: 300, width: 400, crop: :fill %>
        </div>
        <div>
          <%= choice.category %>
          <%=choice.size%>
        </div>
      </div>
    </div>

    <div>
      <%= link_to "View", item_path(choice), class: "item-btn view-accept-format" %>
      <%= link_to "Edit Request", edit_request_path(@request), class: "item-btn view-accept-format" %>
    </div>
    <%= link_to "Cancel Request", request_path(@request), data: {turbo_method: :delete}, class: "item-btn"  %>


  <%# request owner%>
  <% elsif @request.status == "Item Requested" && User.find(Item.find(@request.item_id).user_id).id == current_user.id %>
    <div>
      <%= User.find(@request.user_id)[:first_name]%> has sent you a BClothes request for:
      <%= cl_image_tag Item.find(@request.item_id).photos.first.key, height: 300, width: 400, crop: :fill %>
      <%= Item.find(@request.item_id).category %>
      <%= Item.find(@request.item_id).size%>
    </div>
    <div>
      <%= link_to "View", item_path(Item.find(@request.item_id)), class: "item-btn view-accept-btn view-accept-format" %>
      <%= link_to "Edit Request", edit_request_path(@request), class: "item-btn" %>
    </div>

  <%# visitor%>
  <% else %>
      <div>
        <%= User.find(@request.user_id)[:first_name]%> sent a BClothes request for:
        <div class="suggestions-card">
            <div>
                <%= Item.find(@request.item_id).category %>
                <%= Item.find(@request.item_id).size%>
            </div>
            <div>
                <%= cl_image_tag Item.find(@request.item_id).photos.first.key, height: 300, width: 400, crop: :fill %>
            </div>
          <div>
              <%= link_to "View", item_path(Item.find(@request.item_id)), class: "item-btn view-accept-btn view-accept-format" %>
          </div>
        </div>
      </div>

      <%= link_to "Make another suggestion", new_request_suggestion_path(@request), class: "item-btn" %>
  <% end %>

    <%# owner of requested item link to accept request %>
  <%# <% elsif @request.item_id != "" && User.find(choice.user_id) == current_user %>
    <%# <%= link_to "Edit", edit_request_path(@request), class: "btn" %>
    <%# <%= link_to "Make a suggestion", new_request_suggestion_path(@request), class: "btn" %>

  <%# "Open" display %>

  <%# Everyone %>
    <%# Suggestions display %>
    <div class="suggestions-container">
      <h3 class="request-chatbox-title">Suggestions</h3>
        <% if @request.user_id != current_user.id && @request.suggestions.empty? %>
          <p>Be the first one to suggest an outfit! </p>
        <% elsif  @request.suggestions.empty? %>
          <p>No suggestions yet</p>
        <% else %>
            <% @request.items.each do |item| %>
                <div class="suggestions-card">
                  <div>
                    <%= User.find(item.user_id)[:first_name]%>'s choice:
                    <%= item.category %>
                    <%= item.size %>
                  </div>
                  <div>
                    <%= cl_image_tag item.photos.first.key, height: 300, width: 400, crop: :fill %>
                  </div>
                  <div class="view-accept-format">
                    <div>
                      <%= link_to "View", item_path(item), class: "item-btn view-accept-btn view-accept-format" %>
                    </div>
                  <div>
                      <%= link_to "Accept", assign_item_path(id: @request, item_id: item.id), class: "item-btn view-accept-btn" %>
                  </div>
                  </div>
                </div>
            <% end %>
        <% end %>

    </div>
  </div>
  <div class="chatroom-div">
    <h2 class="request-chatbox-title">What do you think?</h2>
    <%= render :partial => 'shared/chatroom_requests',
    :locals => {request: @request, message: @message, chatroom: @chatroom, user: @user} %>
  </div>
</div>
<%# TO DO

Add card
Add link
Add forms here to ass javascript to?
%>

<style>

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  gap: 60px;
}

.request-info-container,
.suggestions-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.suggestions-container {
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
  margin: 10px 10px 10px;
  padding: 10px;
}

.request-info-container {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 10px;
  margin: 10px 10px 10px;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 10px 10px;
}

.chatroom-placeholder {
  border: 2px dashed #ccc;
  padding: 1rem;
  margin-top: 1rem;
  text-align: center;
  margin-top: 20px;
}

.black-button {
    color: white;
    border-radius: 10px;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.request-owner {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 36px;
}

.request-chatbox-title {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  /* Semi Bold */
  font-size: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.request-description {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  /* Light */
  font-size: 20px;
}

.request-dates {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  /* Light */
  font-size: 12px;
}

.view-accept-format {
    height: 33px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px;
}

.view-only-format {
    height: 33px;
    display: flex;
    align-items: center;
    margin: 5px;
}

.chatroom-div {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 10px 10px 10px;
  padding: 10px;
}

/* buttons */

.item-btn {
  display: inline-block;
  color: black;
  background: #e9e2e2;
  border-radius: 5px;
  padding: 10px 5px;

  text-align: center;
  width: 250px;
}

.item-btn:hover {
  background-color: #c39d56;
  color: #fff;
  text-decoration: none;
}

.view-accept-btn {
  display: flex;
  flex-direction: row;
  width: 140px;
  height: 33px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}

.frame-5:hover {
  background-color: #F16262;
  cursor: pointer;
  color: white;
}

.frame-6 {
  width: 170px;
}

/* end buttons */

.suggestions-card {
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin: 15px;
    /* border-radius: 10px; */
    /* display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: absolute;
    width: 303px;
    height: 420px;
    left: 76px;
    top: 525px; */

}

img {
  border-radius: 10px;
}

.responsive {
  width: 50%;
  max-width: 400px;
  height: auto;
}

img {
  max-width: 300px;
  height: auto;
}

</style>
