<%# input form for creating (new) or editing an item %>
<div style="padding: 23px 120px;background-color: #F4F4F4;border: 1px black dashed;margin: 42px; font-size: 20px;">
  <%= simple_form_for(item) do |f| %>

    <%= f.input :category,
        as: :radio_buttons,
        collection_wrapper_tag: 'div',
        collection_wrapper_class: 'category-wrapper',
        item_wrapper_class: 'category-item',
        input_html: {class: 'category-selector'},
        collection: Item::CATEGORIES %>

    <%= f.input :colour,
        as: :radio_buttons,
        collection_wrapper_tag: 'div',
        collection_wrapper_class: 'colour-wrapper',
        item_wrapper_class: 'colour-item',
        input_html: {class: 'colour-selector'},
        collection: Item::COLOURS %>

    <%= f.input :occasion,
        as: :radio_buttons,
        collection_wrapper_tag: 'div',
        collection_wrapper_class: 'occasion-wrapper',
        item_wrapper_class: 'occasion-item',
        input_html: {class: 'occasion-selector'},
        collection: Item::OCCASIONS %>

    <%= f.input :condition,
      as: :radio_buttons,
      collection_wrapper_tag: 'div',
      collection_wrapper_class: 'condition-wrapper',
      item_wrapper_class: 'condition-item',
      input_html: {class: 'condition-selector'},
      collection: Item::CONDITIONS %>

    <div class="container" style="padding:  0px;">

      <div class="row">
        <div class="col">
            <%= f.input :brand %>
        </div>
        <div class="col">
            <%= f.input :size %>
        </div>
      </div>
    </div>

    <%= f.input :description, as: :text %>

    <%= f.input :photos, as: :file, input_html: { multiple: true } %>

    <div class="occasion-wrapper">
      <%= f.submit submit_text, class: "item-btn", role: "button" %>
    </div>

  <% end %>
</div>


<style>

/* CATEGORIES */

.category-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.category-item {
  flex: 0 0 30%;
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  padding: 10px 10px 10px 10px;
  border: 1px solid #EAEAEA;
  border-radius: 5px;
  background-color: white;
  color: gray !important;
}

.category-selector:checked + label {
  background-color: #FFC65A !important;
  font-weight: 700;
}


#item_category_ruby + label {
  color: #FD1015;
}

#item_category_ruby:checked + label {
  background-color: #FFC65A;
  border-color: #FD1015;
}


#item_category_javascript + label {
  background-color: #FFC65A;
}

#item_category_javascript:checked + label {
  background-background-color: #FFC65A;
  border-background-color: #FFC65A;
}


#item_category_css + label {
  color: #62DDF5;
}

#item_category_css:checked + label {
  background-background-color: #FFC65A;
  border-color: #62DDF5;
}

/* COLOURS */

.colour-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.colour-item {
  flex: 0 0 30%;
}

.colour-selector {
  position: absolute;
  transform: scale(0);
}

.colour-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 20px;
  text-align: center;
  padding: 10px 10px 10px 10px;
  border: 1px solid #EAEAEA;
  border-radius: 5px;
  background-color: white;
  color: gray !important;
}

.colour-selector:checked + label {
  background-color: #FFC65A !important;
  font-weight: 700;
}

#item_colour_ruby + label {
  color: #FD1015;
}

#item_colour_ruby:checked + label {
  background-color: #71A9F7;
  border-color: #FD1015;
}


#item_colour_javascript + label {
  background-color: #FFC65A;
}

#item_colour_javascript:checked + label {
  background-color: #71A9F7;
  border-background-color: #FFC65A;
}


#item_colour_css + label {
  color: #62DDF5;
}

#item_colour_css:checked + label {
  background-color: #71A9F7;
  border-color: #62DDF5;
}

/* OCCASIONS */

.occasion-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.occasion-item {
  flex: 0 0 30%;
}

.occasion-selector {
  position: absolute;
  transform: scale(0);
}

.occasion-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 20px;
  text-align: center;
  padding: 10px 10px 10px 10px;
  border: 1px solid #EAEAEA;
  border-radius: 5px;
  background-color: white;
  color: gray !important;
}

.occasion-selector:checked + label {
  background-color: #FFC65A !important;
  font-weight: 700;
}


#item_occasion_ruby + label {
  color: #FD1015;
}

#item_occasion_ruby:checked + label {
  background-background-color: #FFC65A;
  border-color: #FD1015;
}


#item_occasion_javascript + label {
  background-color: #FFC65A;
}

#item_occasion_javascript:checked + label {
  background-background-color: #FFC65A;
  border-background-color: #FFC65A;
}


#item_occasion_css + label {
  color: #62DDF5;
}

#item_occasion_css:checked + label {
  background-background-color: #FFC65A;
  border-color: #62DDF5;
}

/* CONDITIONS */

.condition-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.condition-item {
  flex: 0 0 30%;
}

.condition-selector {
  position: absolute;
  transform: scale(0);
}

.condition-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 20px;
  text-align: center;
  padding: 10px 10px 10px 10px;
  border: 1px solid #EAEAEA;
  border-radius: 5px;
  background-color: white;
  color: gray !important;
}

.condition-selector:checked + label {
  background-color: #FFC65A !important;
  font-weight: 700;
}


#item_condition_ruby + label {
  color: #FD1015;
}

#item_condition_ruby:checked + label {
  background-color: #71A9F7;
  border-color: #FD1015;
}


#item_condition_javascript + label {
  background-color: #FFC65A;
}

#item_condition_javascript:checked + label {
  background-color: #71A9F7;
  border-background-color: #FFC65A;
}


#item_condition_css + label {
  color: #62DDF5;
}

#item_condition_css:checked + label {
  background-color: #71A9F7;
  border-color: #62DDF5;
}



/* BUTTON */
/* CSS */
.item-btn {
  display: inline-block;
  color: black;
  background: #e9e2e2;
  border-radius: 5px;
  padding: 10px 5px;
  text-align: center;
  width: 250px;
}

.item-btn:hover {
  background-color: #FFC65A;
  color: #fff;
  text-decoration: none;
}

/* COLOUR-SCHEME */

$red: black;
$light-blue: #71A9F7;
$dark-blue: #18206F;
$yellow: #FFD966;
$dark-orange: #F1C232;
$gray: #DADCE0;
$white: #FEFFFE;
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

.save-delete-buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

</style>
