<%# Code to check seed and view working %>

<div>

  <%# search %>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-8 my-3">
        <%= form_with url: items_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "I have nothing to wear"
            %>
          <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>



  <%# search %>
  <div class="search_results_list">

    <ul>

      <% if @items.any? %>

        <% @items.each do |item| %>
          <li>
          <% if User.find(item.user_id) == current_user %>
            <strong> From your wardrobe </strong>
          <% else%>
            <%= User.find(item.user_id)[:first_name]%>'s
          <% end %>
          <%= item.colour%>
          <%= item.category%>
          <%= ": Size #{item.size}" %>
          <%# <%= item.description%>
          <%# item id = <%= item.id%>
          <div>
            <%= cl_image_tag item.photos.first.key, height: 300, width: 400, crop: :fill %>
          </div>
          <div class="view_link">
            <%= link_to "View", item_path(item), class: "btn" %>
          </div>
          </li>
        <% end %>
      <% else %>
        <em>Sorry, no items found.</em>
      <% end %>

    </ul>
  </div>


</div>
<%# TO DO

Styling %>
