<%# Code to check seed and view working %>

<div>



  <% if User.find(@item.user_id) == current_user %>
    From your wardrobe
  <% else%>
    From <%= User.find(@item.user_id)[:first_name]%>'s wardrobe
  <% end %>
  <div>
    <% @item.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
      <%# <%= link_to 'Remove image', delete_image_attachment_item_path(photo.id),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
  <%= @item.category%> <br>
  <%= @item.size%> <br>
  <%= @item.description%> <br>
</div>
<div>
  <%= @item.colour%> <br>
  <%= @item.occasion%> <br>
  <%= @item.brand%> <br>
  <%= @item.condition%> <br>
</div>

<% if @item.user_id != current_user.id %>
  <div>
    <h3>Is this what you were looking for?</h3>
        <div>
      Très chic!:
      <%= link_to "Request #{User.find(@item.user_id)[:first_name]}'s #{@item.category}", new_item_requests_path(item_id: @item), class: "text-decoration-none" %>
    </div>
    <div>
      Not quite?
      <%= link_to "Return to search", items_path, class: "text-decoration-none"%>
    </div>
  </div>

<% elsif @requests.count < 1 %>
  <%= link_to "Remove", item_path(@item), data: {turbo_method: :delete}, class: "btn"  %>
  <%= link_to "Edit", edit_item_path(@item), class: "btn" %>
  <%= link_to "Return to search", items_path, class: "text-decoration-none"%>
<% else %>
  <p> Cannot be deleted requests attached (add archive button?) </p>
  <%= link_to "View your requests", requests_path, class: "btn" %>
  <%= link_to "Edit", edit_item_path(@item), class: "btn" %>
  <%= link_to "Return to search", items_path, class: "text-decoration-none"%>
<% end %>

<%# TO DO
Add css
make item unavilable
item status = archived
%>
