<%# Code to check seed and view working %>


<%= @item.user_id%> <br>
<%= @item.size%> <br>
<%= @item.colour%> <br>
<%= @item.occasion%> <br>
<%= @item.category%> <br>
<%= @item.brand%> <br>
<%= @item.condition%> <br>
<%= @item.description%> <br>
<% @item.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <%# <%= link_to 'Remove image', delete_image_attachment_item_path(photo.id),
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
<% end %>



<% if @item.user_id != current_user.id %>
  <%= link_to "Request #{User.find(@item.user_id)[:first_name]}'s #{@item.category}", new_request_path, class: "btn" %>
<% elsif @requests.count < 1 %>
  <%= link_to "Remove", item_path(@item), data: {turbo_method: :delete}, class: "btn"  %>
  <%= link_to "Edit", edit_item_path(@item), class: "btn" %>
<% else %>
  <p> Cannot be deleted requests attached (add archive button?) </p>
  <%= link_to "View your requests", requests_path, class: "btn" %>
  <%= link_to "Edit", edit_item_path(@item), class: "btn" %>
<% end %>




<%# TO DO
Add card
Add link
How does delete work when it is connected to a suggetsoin/requets
make item unavilable
item status = archived
%>
