<div class="container">
  <div>
  <% if @item.archived == true %>
    <div class="text-center my-4 bg-warning rounded shadow py-2 text-light fs-5" >
    Item has been archived and is no longer available.
    </div>
  <% end %>
  </div>
  <div class="row">
    <div class="col-md-6 clothing-card-main shadow rounded">
      <div class="h2 pt-2 text-center">
        <% if User.find(@item.user_id) == current_user %>
          <strong>From your wardrobe</strong>
        <% else %>
          <strong>From <%= User.find(@item.user_id)[:first_name]%>'s wardrobe</strong>
        <% end %>
      </div>
      <div>
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="padding: 30px;">
          <div class="carousel-inner">
            <% additional_classes = ["active"] %>
            <% @item.photos.each do |photo| %>
              <div class="carousel-item <%= additional_classes.pop %>">
                <p class="d-flex justify-content-center"> <%= cl_image_tag(photo.key, height: 600, width: 500, crop: :pad, background: "auto" )%></p>
              </div>
              <%# <%= link_to 'Remove image', delete_image_attachment_item_path(photo.id),
                            method: :delete,
                            data: { confirm: 'Are you sure?' } %>
            <% end %>
          </div>
          <div>
            <button class="carousel-control-prev btn-big btn-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <i class="fas fa-arrow-left" aria-hidden="true"></i>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next btn-big btn-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <i class="fas fa-arrow-right" aria-hidden="true"></i>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>

    </div>

    <div class="col-md-6 ">
      <div class="pl-4 pt-4 ">
        <div>
          <%= image_tag User.find(@item.user_id).photo.key ? User.find(@item.user_id).photo.url : "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <%= User.find(@item.user_id)[:first_name]%> says:
          <div class="">
            <br><p><em>"<%= @item.description%>"</p></em>
          </div>
        </div>
        <table class="table">
          <tbody>
            <tr>
              <th scope="row">Category</th>
              <td><%= @item.category%></td>
            </tr>
            <tr>
              <th scope="row">Size</th>
              <td><%= @item.size%></td>
            </tr>
            <tr>
              <th scope="row">Colour</th>
              <td><%= @item.colour%></td>
            </tr>
            <tr>
              <th scope="row">Occasion</th>
              <td><%= @item.occasion%></td>
            </tr>
            <tr>
              <th scope="row">Brand</th>
              <td><%= @item.brand%></td>
            </tr>
            <tr>
              <th scope="row">Condition</th>
              <td><%= @item.condition%></td>
            </tr>
          </tbody>
        </table>
        <div >
          <% if @item.user_id != current_user.id %>
            <div class="text-center">
              <% if @item.archived == true %>
                <%= link_to "Return to search", items_path, class: "item-btn" %>
              <% else %>
                <br>
                <h3>Is this what you're looking for?</h3>
                <div class="my-2 pt-2">
                  <h5>Très chic!</h5>
                  <%= link_to "Request #{User.find(@item.user_id)[:first_name]}'s #{@item.category}", new_item_requests_path(item_id: @item), class: "item-btn" %>
                </div>
                <div>
                  <h5>Not quite?</h5>
                  <%= link_to "Return to search", items_path, class: "item-btn" %>
                </div>
              <% end %>
          <% elsif @requests.count < 1 %>
            <p><%= link_to "Edit", edit_item_path(@item), class: "item-btn" %></p>
            <p><%= link_to "Return to search", items_path, class: "item-btn" %></p>
            <p><%= link_to "Remove", item_path(@item), data: {turbo_method: :delete}, class: "item-btn red-btn"  %></p>
          <% else %>
            <p><%= link_to "Edit", edit_item_path(@item), class: "item-btn" %></p>
            <p><%= link_to "Return to search", items_path, class: "item-btn" %></p>
            <% if @item.archived == false %>
              <p><%= link_to "Archive", archive_item_path(@item), class: "item-btn" %></p>
            <% else %>
              <p><%= link_to "Undo archive", archive_item_path(@item), class: "item-btn" %></p>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<style>

*{
  font: Inter;
}

.container{
  margin-top: 30px;
}

.clothing-card-main {
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 10px;
    min-width: 303px;
    max-height: height: 420px;
    border-radius: 5px;
}

.item-info {
    background-color: #f5ead5;
}

.item-btn {
  display: inline-block;
  color: black;
  background: #e9e2e2;
  border-radius: 5px;
  padding: 10px 5px;
  text-align: center;
  width: 250px;
}

.item-btn:hover {
  background-color: #FFC65A;
  color: #fff;
  text-decoration: none;
}

.red-btn:hover {
    background: #7D1128;
}

.carousel-item{
    float:none;
    transition: 0.15s !important;
}

.btn-big {
  font-size: 40px;
}

.btn-prev {
  padding: 0px 0px 0px 30px;
}

.btn-next {
  padding: 0px 30px 0px 0px;
}
</style>
