<!DOCTYPE html>
<html>
  <head>
    <title>BCLOTHES</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <%= javascript_include_tag "application", "data-trube-track": "reload", defer: true%>

  </head>

  <body>
  <%= render "shared/navbar" %>
  <%= render partial: 'shared/request_card_preview' %>
  <%= render "shared/flashes" %>

    <%= yield %>
  </body>
</html>
